<style>
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
} 
</style>

<div>
    <h2>Wireless Setting</h2>
    <form name="form" ng-submit="vm.save_configuration()" role="form">
        <div class="form-group well" ng-hide="vm.scaned_if_list.length == 0">
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Interface</label>
                <div class="col-xs-10">
                    <select class="input-large form-control" ng-model="vm.selected_ifname" ng-change="vm.ifname_change()">
                        <option ng-repeat="item in vm.scaned_if_list" value="{{item.ifname}}">{{item.ifname}}</option>
                    </select>
                </div>
            </div>                  
            <div class="form-group row">
                <p class="col-xs-2 col-form-label"></p>
                <div class="col-xs-10">
                    <button type="button" class="btn btn-primary" ng-click="vm.get_ssid()">SSID Scan</button>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myInputSSIDandPasswordDlg" ng-disabled="vm.selected_ssid==''">Connect</button>
                </div>
            </div>         
            <div class="form-group row" ng-hide="vm.scaned_ssid_list.length == 0">
                <div class="col-xs-2"/>
                <div class="col-xs-10">
                    <div class="container row">
                        <div class="panel panel-default">
                            <table class="table table-fixed table-hover">
                            <thead>
                                <tr>
                                    <th class="col-xs-1">#</th>
                                    <th class="col-xs-4">SSID</th>
                                    <th class="col-xs-1">CH</th>
                                    <th class="col-xs-2">SIGNAL</th>
                                    <th class="col-xs-4">SECURITY</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.scaned_ssid_list">
                                    <td class="col-xs-1"><input type="radio" ng-model="vm.selected_ssid" value="{{item.ssid}}"/></td>
                                    <td class="col-xs-4">{{item.ssid}}</td>
                                    <td class="col-xs-1">{{item.channel}}</td>
                                    <td class="col-xs-2">{{item.signal}}</td>
                                    <td class="col-xs-4">{{item.security}}</td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-hide="vm.scaned_ssid_list.length > 0">
                <p class="col-xs-2 col-form-label"></p>
                <label class="col-xs-10 col-form-label">There are no data.</label>
            </div>
        </div>
        <div class="form-group well">
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Type</label>
                <div class="col-xs-10">
                    <select class="input-large form-control" ng-model="vm.ip_method">
                        <option value="static">Static IP</option>
                        <option value="dhcp">DHCP (Dynamic IP)</option>
                    </select>
                </div>
            </div>        
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">SSID</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" ng-model="vm.connected_ssid" ng-readonly="true">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Address</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" ng-model="vm.ipv4_address" ng-readonly="vm.ip_method == 'dhcp'">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Subnet Mask</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" ng-model="vm.ipv4_subnet_mask" ng-readonly="vm.ip_method == 'dhcp'">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Gateway</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" ng-model="vm.ipv4_gateway" ng-readonly="vm.ip_method == 'dhcp'">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Primary DNS</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" ng-model="vm.ipv4_dns" ng-readonly="vm.ip_method == 'dhcp'">
                </div>
            </div>

            <!-- 
                2016.9.30, Mansoo(mansoo.kim@icloud.com)

                There are some problems. I can not recognize the info between ifname and connection id when connection disconnected.
                So I'll try to implement this features after studying a nmcli tool more.

            <div ng-show = "vm.connection_uuid != ''">
                <label class="col-xs-2 col-form-label"> </label>
                <button type="button" class="btn btn-primary" ng-click="vm.dhcp_renew()" ng-if="vm.ip_method == 'dhcp'">Renew</button>
                <button type="button" class="btn btn-warning" ng-click="vm.dhcp_release()" ng-if="vm.ip_method == 'dhcp'">Release</button>        
            </div>
            -->
        </div>
        <div class="form-actions" ng-hide="vm.scaned_interface_list.length == 0">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-success center-block">Save</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
         <div class="form-group well" ng-hide="vm.scaned_interface_list.length != 0">
            <div class="form-group row">
                <label class="col-xs-10 col-form-label">There is no wireless interface.</label>
            </div>        
        </div>             
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="myInputSSIDandPasswordDlg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"> Input SSID and Password</h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">           
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label  class="col-sm-2 control-label" for="ssid">SSID</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ssid"  value="{{vm.selected_ssid}}" ng-readonly="true"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="password" >Password</label>
                    <div class="col-sm-7">
                        <input ng-attr-type="{{ showPassword ? 'text' : 'password' }}" class="form-control" placeholder="SSID Password" autofocus ng-model="vm.selected_ssid_password"/>             
                    </div>                    
                    <div class="col-sm-3">                   
                        <input type="checkbox" ng-model="showPassword"> Show Password</input>
                    </div>                    
                  </div>
                </form>
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.connect_to_new_ssid()">Connect</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>