<div>
    <h2>Network Setting</h2>
    <div class="form-group well">
        <div class="form-group row">
            <label class="col-xs-2 col-form-label">Type</label>
            <div class="col-xs-10">
                <select class="input-large form-control" ng-model="vm.ip_method">
                    <option value="static">Static IP</option>
                    <option value="dhcp" selected="selected">DHCP(Dynamic IP)</option>
                </select>
            </div>
        </div>        
        <div ng-repeat="item in vm.network_form">
            <div class="form-group row" ng-if="vm.ip_method == 'static'">
                <label class="col-xs-2 col-form-label">{{item.title}}</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" value="{{item.value}}" id="{{item.id}}">
                </div>
            </div>
        </div>          
    </div>
</div>