<div>
    <h2>Network Setting</h2>
    <form name="form" ng-submit="vm.save_configuration()" role="form">
        <div class="form-group well">
            <div class="form-group row" ng-show="vm.scaned_if_list.length > 1">
                <label class="col-xs-2 col-form-label">Interface</label>
                <div class="col-xs-10">
                    <select class="input-large form-control" ng-model="vm.selected_ifname" ng-change="vm.ifname_change()">
                        <option ng-repeat="item in vm.scaned_if_list" value="{{item.ifname}}">{{item.ifname}}</option>
                    </select>
                </div>
            </div>            
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Type</label>
                <div class="col-xs-10">
                    <select class="input-large form-control" ng-model="vm.ip_method">
                        <option value="static">Static IP</option>
                        <option value="dhcp">DHCP (Dynamic IP)</option>
                    </select>
                </div>
            </div>        
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Address</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" ng-model="vm.ipv4_address" ng-readonly="vm.ip_method == 'dhcp'">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Subnet Mask</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" ng-model="vm.ipv4_subnet_mask" ng-readonly="vm.ip_method == 'dhcp'">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Gateway</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" ng-model="vm.ipv4_gateway" ng-readonly="vm.ip_method == 'dhcp'">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Primary DNS</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" ng-model="vm.ipv4_dns" ng-readonly="vm.ip_method == 'dhcp'">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Status</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" ng-model = "vm.connection_status" ng-readonly="true">
                </div>
            </div>            

            <!--
                2016.9.30, Mansoo(mansoo.kim@icloud.com)

                There are some problems. I can not recognize the info between ifname and connection id when connection disconnected.
                So I'll try to implement this features after studying a nmcli tool more.
            -->
            <div ng-show = "vm.connection_uuid != ''">                            
                <label class="col-xs-2 col-form-label"> </label>
                <button type="button" class="btn btn-primary" ng-click="vm.dhcp_renew()" ng-if="vm.ip_method == 'dhcp'">Renew</button>
                <button type="button" class="btn btn-warning" ng-click="vm.dhcp_release()" ng-if="vm.ip_method == 'dhcp'">Release</button>
            </div>
        </div>      
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-success center-block">Save</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>        
    </form>
</div>
