<script src="js/etc_angular_components/fileinput.min.js"></script>

<div>
    <h2>Networking Setting</h2>

    <div class="form-group well">
        <label for="password">System password</label>
        <input type="text" name="password" id="password" class="form-control" ng-disabled="vm.isRebooting" ng-model="vm.password" required />
        <button type="button" class="btn btn-info" ng-disabled="vm.isRebooting" ng-click="vm.get_password()">Get Password</button>
        <button type="button" ng-disabled="form.$invalid || vm.isRebooting" class="btn btn-primary" ng-click="vm.set_password()">Set Password</button>
    </div>
</div>